# OpenAI
OPENAI_API_KEY=$OPENAI_API_KEY

# Azure
AZURE_SUBSCRIPTION_ID=$AZURE_SUBSCRIPTION_ID
RESOURCE_GROUP_NAME=$RESOURCE_GROUP_NAME
PROJECT_NAME=$PROJECT_NAME
AZURE_REGION=$AZURE_REGION

# Models
OPENAI_CHAT_MODEL=gpt-5-mini
OPENAI_PROFESSION_GENERATION_MODEL=gpt-4o
OPENAI_ANALYSIS_MODEL=gpt-5-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Database
POSTGRES_DB=$POSTGRES_DB
POSTGRES_USER=$POSTGRES_USER
POSTGRES_PASSWORD=$POSTGRES_PASSWORD
DB_HOST=$DB_HOST
DB_PORT=$DB_PORT

# Django
DJANGO_SECRET_KEY=$DJANGO_SECRET_KEY
DJANGO_DEBUG=1 # For development only, set to 0 in production
DJANGO_SUPERUSER_USERNAME=$DJANGO_SUPERUSER_USERNAME
DJANGO_SUPERUSER_PASSWORD=$DJANGO_SUPERUSER_PASSWORD
DJANGO_SUPERUSER_EMAIL=$DJANGO_SUPERUSER_EMAIL

# Interviews
NUM_INTERVIEWS=100
NUM_CONCURRENT_INTERVIEWS=10 # Adjust based on your OpenAI tier and rate limits